* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body {
  font-family: sans-serif;
}


@media screen and (min-width:320px) and (max-width: 799px)  { 
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
	
	.remodal {
		width:inherit;
	}
	
	
	.modal-img {
		max-width: 250px;
		height: auto;
	}

	.img-size {
		width:82px;
	}
	

	.grid-sizer {
		width: 5%;
	}

	.grid-item { 
		width: inherit;
		box-shadow: 2px 2px 5px #888888;
		box-shadow: 2px 2px 5px #888888;
		margin-bottom: 5px;
		margin-left: 5px;
		margin-top: 5px;
		margin-right: 5px;
	}

	/* clear fix */
	.grid:after {
	  content: '';
	  display: block;
	  clear: both;
	}

	
	/*For the form*/
	.form-l {
		margin-left: auto;
		margin-right: auto;
	}

	/* for the body */
	
	
	
	/* End css for the body */


}
@media screen and (min-width:480px) and (max-width: 799px)  {
/* smartphones, Android phones, landscape iPhone */ 
	.remodal {
		width:inherit;
	}
	
	
	.modal-img {
		max-width: 300px;
		height: auto;
	}

	.img-size {
		width:180px;
	}
	

	.grid-sizer {
		width: 5%;
	}

	.grid-item { 
		width: inherit;
		box-shadow: 2px 2px 5px #888888;
		box-shadow: 2px 2px 5px #888888;
		margin-bottom: 5px;
		margin-left: 40px;
		margin-top: 5px;
		margin-right: 5px;
	}

	/* clear fix */
	.grid:after {
	  content: '';
	  display: block;
	  clear: both;
	}

	
	/*For the form*/
	.form-l {
		margin-left: auto;
		margin-right: auto;
	}

	/* for the body */

	
	
	/* End css for the body */

}
@media (min-width:800px) and (max-width: 850px)  { 
	/* For the isotope */
	.remodal {
		width:inherit;
	}

	.div-size {
		display:inline-block;
		min-width: 100px;
		min-height: 50px;
	}

	.modal-img {
		max-width: 640px;
		height: auto;
	}

	.img-size {
		width:215px;
	}
	
	.grid-sizer {
		width: 1%;
	}


	.grid-item { 
		width: inherit;
		margin-left: 25px;  
		box-shadow: 2px 2px 5px #888888;
		margin-bottom: 5px;
		margin-top: 5px;
		margin-right: 5px;
	}

	/* clear fix */
	.grid:after {
	  content: '';
	  display: block;
	  clear: both;
	}
	/* End of css for isotope */


	/* for the body */
	
	/* End css for the body */
	
	/*For the form*/
	.form-l {
		margin-left: auto;
		margin-right: auto;
	}

}

@media (min-width:850px) and (max-width: 4000px)  { 
	/* For the isotope */
	.remodal {
		width:inherit;
	}

	.div-size {
		display:inline-block;
		min-width: 100px;
		min-height: 50px;
	}

	.modal-img {
		max-width: 640px;
		height: auto;
	}

	.img-size {
		width:230px;
	}
	
	.grid-sizer {
		width: 1%;
	}


	.grid-item { 
		width: inherit;
		box-shadow: 2px 2px 5px #888888;
		margin-left: 2px;
		margin-bottom: 5px;
		margin-top: 5px;
		margin-right: 5px;
	}

	/* clear fix */
	.grid:after {
	  content: '';
	  display: block;
	  clear: both;
	}
	/* End of css for isotope */


	/* for the body */
	
	/* End css for the body */
	
	/*For the form*/
	.form-l {
		margin-left: auto;
		margin-right: auto;
	}

}
